<h3>Listado de hijos de {{ dataSource[0].personal.nombreCompleto }}</h3>

<button mat-button color="primary" [routerLink]="['/hijos-nuevo']">Nuevo</button>
<button mat-button [routerLink]="['/personal']">Volver</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="idDerHab">
    <th mat-header-cell *matHeaderCellDef> ID. </th>
    <td mat-cell *matCellDef="let element"> {{element.idDerHab}} </td>
  </ng-container>

  <ng-container matColumnDef="nombreCompleto">
    <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
    <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
  </ng-container>

  <ng-container matColumnDef="fhcNac">
    <th mat-header-cell *matHeaderCellDef> Fecha nacimiento </th>
    <td mat-cell *matCellDef="let element"> {{element.fhcNac}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element" class="action-link">
      <button mat-button color="accent" [routerLink]="['/hijos-editar', element.idDerHab]">Editar</button>
      <button mat-button color="warn" (click)="openDialog(element)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
