<h3>{{ titulo }}</h3>

<form [formGroup]="personal" (ngSubmit)="savePersonal()" class="form">

  <mat-form-field class="full-width">
    <input matInput placeholder="Código" readonly formControlName="idPersonal">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Primer nombre" value="" formControlName="nombre1">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Segundo nombre" value="" formControlName="nombre2">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Primer apellido" value="" formControlName="apPaterno">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Segundo apellido" value="" formControlName="apMaterno">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="fhcNac" placeholder="Fecha de nacimiento" formControlName="fhcNac">
    <mat-datepicker-toggle matSuffix [for]="fhcNac"></mat-datepicker-toggle>
    <mat-datepicker #fhcNac></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="fhcIngreso" placeholder="Fecha de ingreso" formControlName="fhcIngreso">
    <mat-datepicker-toggle matSuffix [for]="fhcIngreso"></mat-datepicker-toggle>
    <mat-datepicker #fhcIngreso></mat-datepicker>
  </mat-form-field>

  <div>
    <button mat-button color="primary" [disabled]="!personal.valid" type="submit">Guardar</button>
    <button mat-button [routerLink]="['/personal']">Volver</button>
  </div>
</form>


<div style="margin:1em" *ngIf="personal.valid==false">
  <div class="alert alert-danger">El formulario no es valido, verifique que sean correctos los datos.</div>
</div>

<div style="margin:1em" *ngIf="personal.valid==true">
  <div class="alert alert-success">El formulario tiene datos validos.</div>
</div>
