<h1>{{ titulo }}</h1>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="personal" (ngSubmit)="savePersonal()">

      <div class="form-group">
        <label>Código</label>
        <input type="text" class="form-control" readonly formControlName="idPersonal" />
      </div>

      <div class="form-group">
        <label>Primer nombre</label>
        <input type="text" class="form-control" formControlName="nombre1" />
      </div>

      <div class="form-group">
        <label>Segundo nombre</label>
        <input type="text" class="form-control" formControlName="nombre2" />
      </div>

      <div class="form-group">
        <label>Primer apellido</label>
        <input type="text" class="form-control" formControlName="apPaterno" />
      </div>

      <div class="form-group">
        <label>Segundo apellido</label>
        <input type="text" class="form-control" formControlName="apMaterno" />
      </div>

      <div class="form-group">
        <label>Fecha nacimiento</label>
        <input type="date" class="form-control" formControlName="fhcNac" />
      </div>

      <div class="form-group">
        <label>Fecha ingreso</label>
        <input type="date" class="form-control" formControlName="fhcIngreso" />
      </div>

      <div>
        <input [disabled]="!personal.valid" type="submit" value="Guardar" class="btn btn-primary" />
        <button [routerLink]="['/personal']" class="btn btn-secondary">Volver</button>
      </div>
    </form>
  </div>
</div>


<div style="margin:1em" *ngIf="personal.valid==false">
  <div class="alert alert-danger">El formulario no es valido, verifique que sean correctos los datos.</div>
</div>

<div style="margin:1em" *ngIf="personal.valid==true">
  <div class="alert alert-success">El formulario tiene datos validos.</div>
</div>
